{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
	{{super()}}
    <meta http-equiv="Access-Control-Allow-Origin">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatroom.css') }}">

{% endblock %}

{% block page_content %}
{{super()}}
    {% if current_user.is_authenticated %}
        <p style="padding:3px 20px">Login in as {{current_user.username}}</p>
        <a href="{{ url_for('login.userLogout') }}">Logout</a>
        {% if form%}
        	{{ wtf.quick_form(form) }}
        {% endif %}
        {% if roomid %}
            <div class="page-header">
                    <h1>LoveLog <small>instanceMsg</small></h1>
                </div>
                <div class="col-md-offset-1 col-md-10" style="padding:0px;">
                    <div class="container-fluid" id="chatpanel" data-spy="affix" data-offset-top="60" data-offset-bottom="20">
                        
                    </div>

                </div>

                <div class="col-md-offset-1 col-md-10" id="message-panel" style="padding:0px">
                    <div class="container-fluid" style="padding:0px;margin:0px;">
                        <form>
                        <div class="input-group">
                            <span id="username" class="input-group-addon"></span>
                            <input type="text" class="form-control" id="send-message" placeholder="输入消息"></input>
                            <span class="input-group-btn">
                                <button id='sendButton' class="btn btn-default" type="button">发送</button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
        {% endif %}
        
    {% else %}
        {% if current_user.is_active %}
            <p style="padding:3px 20px">Login in as {{current_user.username}}</p>
            <a href="{{ url_for('userEmail.sendEmail') }}">Active your account</a>
            <a href="{{ url_for('login.userLogout') }}">Logout</a>
        {% else %}
            <h1><a href="{{url_for('login.userLogin')}}">not login yet</a></h1>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
    var room ;
    var sendButton = $('#sendButton');
    var sendBox = $('#send-message');
    var msgPanel = $('#chatpanel');
    var times = 0

    sendButton.enable = false;
    // loading page and init socketio
    $(document).ready(function(){
        var chat = io.connect('ws://localhost:4000');

        chat.on('connect', function(data) {
            chat.emit('message',{msg: '{{roomid}}'},function(){
                room = io.connect('ws://localhost:4000/{{roomid}}');
                sendButton.enable = true;
                // init once other wise msg will come many times
                room.on('liaoxian',function(data){
                    times++;
                    alert(data)
                    console.log(times)
                    msgPanel.append('<p>'+data+'</p><br>')
                });
                    //getMsg(room);
                });
        });
    });

    sendButton.click(function(){
        if(room!=null){
            times ++;
            console.log(times);
            room.emit('recv',{msg:sendBox.val()});
        }
    });
</script>
{% endblock %}